# Ignore model checkpoints
*.pt
*.pth

# Ignore all data and model files/folders
*.json
*.png
*.jpg
*.html
*.pickle
*.pkl
*.zip
*.ttf
*.txt

**/__pycache__/

wandb/
dataset/
websight_hf/
playing/
model/
benchmark/

# My personal playground
playwithmino.py



